*{
    margin: 0;
    padding: 0;
}
/* navigation-bar */
.nav-sticky{
    width: 100%;
    position: fixed;
    z-index: 1;
}
nav{
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    padding: 1%;
    display: flex;
    font-size: 1.3rem;
    justify-content: space-between;
    font-family: 'Fredoka', sans-serif;
}
/* for nav item */
.nav-list li ,.nav-head,.nav-list ul{
    display:inline-block;
}
.nav-list li ,.nav-head{
    text-decoration: none;
    text-align: center;
    color: #EAEAEA;
}
.nav-head{
    font-family: 'Montserrat',sans-serif;
    color: #DA0037;
    font-weight: bold;
    padding: 10px 10px;
}
.nav-list li a{
    text-decoration: none;
    color: #EAEAEA;
    padding: 10px 10px;
    text-align: center;
    border: 3px solid rgba(0, 0, 0, 0);
}
.nav-list li a:hover,.nav-head:hover{
    border: 3px solid #DA0037;
    transition: ease-in 0.5s;
}
.nav-list,.nav-head{
    border: 3px solid rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
}
/* sign button */
nav span{
    width: 200px;
}
nav .sign-in-btn{
    padding-top: 7px;
    text-align: center;
    text-decoration: none;
    font-size: 1.3rem;
    letter-spacing: 1px;
    width: 130px;
    color: #EAEAEA;
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid #DA0037;
    cursor: pointer;
    margin-right: 2%;
}
nav .sign-in-btn:hover{
    background-color: #DA0037;
    border: 3px solid #DA0037;
    transition: ease-in-out 0.5s;
}

/* title */

#title{
    width: 100%;
    background-color: rgba(0,0,0,0.9);
    position: relative;
}

/* title h and p */
#title h1,#title p{
    color: #EAEAEA;
    font-family: 'Montserrat',sans-serif;
    text-align: center;
}
#title h1{
    font-size: 3.2rem;
    padding-top: 8%;
    color: #DA0037;
}
.title-p1{
    padding-top: 0.5%;
}
/* title button */

.title-btn{
    display: flex;
    justify-content: center;
    margin: 6% 0;
}

.android-btn,.apple-btn{
    font-weight: bold;
    text-decoration: none;
    font-family: 'Montserrat',sans-serif;
    margin-right: 1%;
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;
    padding: 1%;
}
.android-btn{
    border: 3px solid #DA0037;
    background-color: #DA0037;
    color: #EAEAEA;
}
.apple-btn{
    color: #DA0037;
    border: 3px solid #EAEAEA;
    background-color: #EAEAEA;
}

.android-btn:hover,.apple-btn:hover{
    border: 3px solid #DA0037;
    color: #DA0037;
    background-color: rgba(0, 0, 0, 0);
    transition: ease-in-out 0.5s;
}

#title svg{
    margin: -8% 0 -0.3%;
}

/* explan-div */
.explan-div{
    padding: 2% 7%;
}
.explan-div h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 1%;
}
.explan-div h1 span{
    font-weight: bold;
    color: #DA0037;
}

.explan-div p{
    font-family: 'Fredoka', sans-serif;
    font-size: 1.2rem;
    margin: 1%;
    color: #2d2d2d;
}
.explan-div ul{
    font-family: 'Montserrat', sans-serif;
    margin: 2% 3%;
    font-size: 1.2rem;
}

.explan-div ul li{
    margin-top: 0.5%;
}

/* feature */
#feature{
    height: 800%;
    background-color: rgba(218, 0, 55, 1);
    color: #EAEAEA;
    display: flex;
    padding: 6% 7% 3% 7%;
}

/* feature text */
.feature-text{
    min-width: 350px;
    max-width: 350px;
    margin-right: 10%;
}

#feature h1,#feature h3,#feature h2{
    font-family: 'Montserrat', sans-serif;
}

.feature-text h1{
    font-size: 2.3rem;
}

.feature-text p{
    font-size: 1.1rem;
}

#feature p{
    font-family: 'Fredoka', sans-serif;
    margin: 2% 0 10%;
}

#feature a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    cursor: pointer;
    padding: 2% 3%;
    background-color:rgba(0, 0, 0, 0);
    color: #EAEAEA;
    font-size: 1.1rem;
    border: 3px solid #EAEAEA;
    font-weight: bold;
}

#feature a:hover{
    color: #DA0037;
    background-color: #EAEAEA;
    transition: ease-in-out 0.5s;
}

/* feature item */

.feature-box{
    display: block;
    height: 510px;
    overflow: auto;
}

.feature-item{
    display: inline-block;
    max-width: 160px;
    min-width: 160px;
    height: 160px;
    background-color: #EAEAEA;
    color: #171717;
    padding: 3%;
    margin: 2%;
    border-radius: 5px;
}

.feature-item:hover{
    max-width: 165px;
    min-width: 165px;
    height: 165px;
    box-shadow: 10px 10px 10px 2px rgba(0,0,0,0.2);
    transition: ease-in-out 0.4s;

}

.feature-item h2{
    margin-bottom: 20%;
}

/* footer */

footer{
    padding: 1% 5%;
    height: 26vh;
    background-color: #171717;
    font-family: 'Montserrat', sans-serif;
}

.footer-main{
    display: flex;
    justify-content: space-evenly;
}

footer li {
    list-style-type: none;
    margin-bottom: 5%;
}

.footer-list{
    padding: 1% 4% 0 1%;
}

footer li a{
    color: #EAEAEA;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1rem;
}

footer li a:hover{
    color: #DA0037;
    font-weight: bold;
    transition: ease-in-out 0.5s;
    font-size: 1.2rem;
}

.news-form{
    padding: 1% 2%;
    width: 400px;
}

.news-form p,.news-form h3{
    color: #DA0037;
}
.news-form p{
    color: #DA0037;
    font-weight: bold;
    font-size: 0.7rem;
}
.news-form h3{
    margin: 2% 0 0;
    color: #EAEAEA;
    font-size: 1.4rem;
}

.news-form input[type=email]{
    width: 60%;
    padding: 2%;
    margin: 2% 0;
    border: 1px solid #EAEAEA;
    background-color: #EAEAEA;
}
.news-form button{
    cursor: pointer;
    padding: 0.5% 3% 1%;
    margin-left: 0;
    border: 3px solid #DA0037;
    background-color: rgba(0, 0, 0, 0);
    color: #EAEAEA;
    font-size: 1.1rem;
}
.news-form button:hover{
    background-color: #DA0037;
    transition: ease-in-out 0.5s;
}

.social-media{
    color: #EAEAEA;
    font-size: 1.3rem;
    padding: 1% 2%;
}

.social-media p{
    margin: 0 0 8% 0;
    letter-spacing: -1px;
}
.social-media a{
    color: #EAEAEA;
    margin: 0 8% 0 0;
    font-size: 1.5rem;
}
.social-media a:hover{
    color: #DA0037;
    transition: ease-in-out 0.5s;
}

/* footer copy-right */
.footer-cp{
    color: #EAEAEA;
    margin: 2.5% 3% 2%;
    text-align: center;
}