<%- include("particals/headerM"); -%>
    <!-- css -->
    <link rel="stylesheet" href="style/about-us.css">
    <!-- css static -->
    <link rel="stylesheet" href="public/style/about-us.css">
<%- include("particals/headerS"); -%>

<div id="title">
    <div class="title-text">
        <div class="heading">
            <h3>SMRT CLG</h3>
            <h1>About us</h1>
        </div>
        <div class="description">
            <p class="p1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam ea illo magni non laudantium, sed facilis harum.</p>
            <p class="p2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore atque voluptas, aperiam in dolore harum nobis ab quasi quaerat impedit voluptate, doloribus quod minima et perferendis officia voluptates autem exercitationem.</p>
        </div>

        <a href="/contact-us">CONTACT US</a>
    </div>
    <img src="img/about-us.png" alt="">
</div>
<%- include("particals/footer"); -%>