<%- include("particals/headerM"); -%>
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="/style/android.css">
    <!-- css static -->
    <link rel="stylesheet" type="text/css" href="/public/style/android.css">
<%- include("particals/headerS"); -%>

<!-- title -->
<div id="title">
    <h2>Download links for Andriod</h2>
</div>

<!-- download-link-box -->
<div id="feature-box">
    <div class="student-box">
        <h3>For Students</h3>
        <a href="http://">Download</a>
    </div>
    <div class="manager-box">
        <h3>For Manager</h3>
        <a href="http://">Download</a>
    </div>
    <div class="admin-box">
        <h3>For Admin</h3>
        <a href="http://">Download</a>
    </div>
</div>

<%- include("particals/footer"); -%>