<%- include("particals/headerM"); -%>
    <!-- css -->
    <link rel="stylesheet" href="style/feature.css">
    <!-- css static -->
    <link rel="stylesheet" href="public/style/feature.css">
<%- include("particals/headerS"); -%>

<!-- titile -->
<div id="title">
    <h1>Features</h1>
</div>


    <div class="feature-box">
        <div class="feature-item ">
            <div class="feature-item-text">
                <h3>Exam</h3>
                <p>You can get exam info in the application and schedule of the exam.</p>
            </div>
            <img src="img/exam.png" alt="">
        </div>  
        <div class="feature-item ">
            <img src="img/event.jpg" alt="">
            <div class="feature-item-text">
                <h3>Events</h3>
                <p>In these features, you can get information about event schedules and how to register for events.</p>
            </div>
        </div>    
        <div class="feature-item ">
            <div class="feature-item-text">
                <h3>Exam resurlt</h3>
                <p>You can get direct access to exam info and exam results through these features.</p>
            </div>
            <img src="img/exam-results.jpg" alt="">
        </div>
        <div class="feature-item">
            <img src="img/schedule.jpg" alt="">
            <div class="feature-item-text">
                <h3>Schedule</h3>
                <p>Class schedule for students, teachers and parents.
                    This application helps you create as many schedules as you need for anything you might be planning.</p>
            </div>
        </div>
        <div class="feature-item">
            <div class="feature-item-text">
                <h3>Library</h3>
                <p>Our main motto is to provide skills and resources
                    for the library community to boldly manage cyber-
                    issues and continue to embrace the positive aspects
                    of online activities. It also provides a free and
                    comprehensive solution helps libraries identify gaps
                    in their policies and operations by offering a well
                    structured action plan that links to best practice
                    resources. The library can track progress and access
                    resources using an online system tool by library
                    professionals</p>
            </div>
            <img src="img/library.jpg" alt="">
        </div>
        <div class="feature-item">
            <img src="img/wallet.png" alt="">
            <div class="feature-item-text">
                <h3>Wallet</h3>
                <p>The campus wallet is a smart tag solution for universities used by students for payment.</p>
            </div>
        </div>
    </div>

<%- include("particals/footer"); -%>