<%- include("particals/header"); -%>

    <div id="title">
        <h1>Smart connect your college.</h1>
        <p class="title-p1">We connect smart devices to work in unison, delivering a truly intelligent smart college</p>
        <p class="title-p2">experience that makes college life more convenient, safe and enjoyable</p>
        <div class="title-btn">
            <a class="android-btn" target="_blank" href="https://drive.google.com/file/d/1ZEm3z1Mty5jU-Vlj3PVmnXFbeeZZeAWT/view?usp=sharing" > <i class="fa-brands fa-google-play"></i> Download</a>
            <!-- <a class="apple-btn" target="_blank" href="/download/ios"> <i class="fa-brands fa-apple"></i> Download</a> -->
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#DA0037" fill-opacity="1" d="M0,96L60,117.3C120,139,240,181,360,213.3C480,245,600,267,720,245.3C840,224,960,160,1080,112C1200,64,1320,32,1380,16L1440,0L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>
    </div>

<!-- why? -->
    <div class="explan-div">
        <h1>Why a <span>smart campus</span> and technology?</h1>
        
        <p>Our lives are already embedded with smart technologies in our cars, in stores, in banks, and in our homes. We interact with smart environments regularly. And, yet, many universities are still inundated with siloed infrastructures that often do not serve or communicate outside of their associated stakeholders. There are dispersed systems, and large ERP/SIS systems that do not communicate in a seamlessly integrated fashion. Yet, imagine another type of infrastructure, one that did communicate intelligently so that positive outcomes came about in every interaction and scenario. </p>
        <p>A smart campus helps universities to differentiate from their peers because it facilitates efficient practices and eliminates outdated transactional processes. Some examples of smart campus technology include: </p>
        
        <ul>
            <li>Location-based systems to help students find their lost text books or other personal effects</li>
            <li>Network computing</li>
            <li>Paying for meals with digital devices </li>
            <li>Finding the time, cost, and location of student events</li>
            <li>attendance is easily to take with smart-devices</li>
            <li>In Library easy to track of book and student log</li>
        </ul>
    </div>  

<!-- feature -->
<div id="feature">
    <div class="feature-text">
        <h1>Feature</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum nemo pariatur adipisci quas totam dolore.</p><br>
        <a href="/feature">More Features</a>
    </div>
    <div class="feature-box">
        <div class="feature-item">
            <h2>P</h2>
            <h3>Presence</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="feature-item">
            <h2>A</h2>
            <h3>Assigment</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="feature-item">
            <h2>F</h2>
            <h3>Final Exam</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="feature-item">
            <h2>T</h2>
            <h3>Time Table</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="feature-item">
            <h2>E</h2>
            <h3>Event</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="feature-item">
            <h2>L</h2>
            <h3>Library</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <!-- bill payment -->
    </div>
</div>

<%- include("particals/footer"); -%>
