<%- include("particals/headerM"); -%>
    <!-- css -->
    <link rel="stylesheet" href="/style/ios.css">
    <!-- css static -->
    <link rel="stylesheet" href="/public/style/ios.css">
<%- include("particals/headerS"); -%>

<div id="title">
    <h2>coming soon</h2>
    <!-- <img src="public/img/ios-cs.png" alt=""> -->
</div>

<%- include("particals/footer"); -%>