<!-- footer -->
<footer>
  <div class="footer-main">

      <ul class="footer-list">            
          <li><a href="news-events.html">NEWS & EVENTS</a></li>
          <li><a href="contact-us.html">contact us</a></li>
          <li><a href="about-us.html">about us</a></li>
          <li><a href="">community</a></li>
      </ul>
      <ul class="footer-list" >
          <li><a href="">time-table</a></li>
          <li><a href="">results</a></li>
          <li><a href="feature.html">features</a></li>
          <li><a href="">privacy</a></li>
      </ul>
      <div class="news-form">
          <p>SUBSCRIBE TO OUR NEWSLETTER</p>
          <h3>Get inform and stay up-to-date for news and the latest news.</h3>
          <form action="" method="post">
              <input type="email" name="" id="" placeholder="Enter your email">
              <button type="submit">SIGNUP</button>
          </form>
      </div>
      
      <div class="social-media">
          <p>LET'S STAY IN TOUCH</p>
          <a href="http://"><i class="fa  fa-instagram" aria-hidden="true"></i></a>
          <a href="http://"><i class="fa  fa-twitter" aria-hidden="true"></i></a>
          <a href="http://"><i class="fa  fa-facebook" aria-hidden="true"></i></a>
          <a href="http://"><i class="fa  fa-youtube" aria-hidden="true"></i></a>
      </div>
  </div>

  <h3 class="footer-cp">©Copyright 2021 Ritik Shah</h3>
</footer>
<!-- Jquery -->
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous" ></script>
<!-- js -->
<script src="javascript/index.js"></script> 
</body>
</html>
