</head>
<body>
<!-- navbar -->
    <div class="nav-sticky">
        <nav>
            <a href="/" class="nav-head" >SMRT CLG</a>
            <ul class="nav-list">
                <li><a href="/feature">Feature</a></li>
                <li><a href="/contact-us">Contact us</a></li>
                <li><a href="/about-us">About us</a></li>
            </ul>
            <div class="nav-right">
                <!-- <a class="sign-in-btn" href="/sign-up">sign up <i class="fa-solid fa-arrow-right"></i></a> -->
                <a class="nav-download" href="/"><i class="fa-solid fa-arrow-down"></i> Download</a>
            </div>
        </nav>
    </div>